{% extends 'base.html' %}

{% block title_head %}
<title>Agregar Juego</title>
{% endblock title_head %}

{% block h1_header %}
<h1>Agregar Juego</h1>
{% endblock h1_header %}


{% block contenido %}
<form action={% url 'app:alta_juego' %} method="POST", enctype='multipart/form-data'>
    {% csrf_token %}
    
    <table>
        <!-- form.media para RichTextField-->
        <!-- va como form en vez de formulario, ya que en CBV trabaja en inglés-->
        {{form.media}}
        {{form}}
    </table>
    
    <button>Crear</button>

        
</form>
{% endblock contenido %}