{% extends 'base.html' %}

{% block title_head %}
<title>Juego</title>
{% endblock title_head %}

{% block h1_header %}
<h1>{{juego}}</h1>
{% endblock h1_header %}


{% block contenido %}
<div>
    <table class="table table-hover table-sm table-bordered table-striped">
        <thead>
            <tr>
                <th class="text-center">Juego</th>
                <th class="text-center">Especificaciones</th>             
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="text-center">
                    {% if juego.imagen.url and juego.imagen%}
                        <img src={{juego.imagen.url}} alt="" height="80px"> 
                    {% endif %}
                </th>    
                <th class="text-center">
                    <ul>
                        <li>Nombre: {{juego.nombre}}</li>
                        <li>Desarollo: {{juego.desarrollo}}</li>
                        <li>Dispositivo: {{juego.dispositivo}}</li>
                        <li>Genero: {{juego.genero}}</li>
                        <li>Descripción: {{juego.descripcion | safe }}</li>
                    </ul>
                </th>             
            </tr>
        </tbody>
    </table>
</div>

<p>
    <button>
        <a class="navbar-brand" href={% url 'app:modificar_juego' juego.id %}>Modificar</a>
    </button>
    <button>
        <a class="navbar-brand" href={% url 'app:eliminar_juego' juego.id %}>Eliminar</a>
    </button>
</p>
{% endblock contenido %}
