{% extends 'base.html' %}

{% block title_head %}
<title>Juegos</title>
{% endblock title_head %}

{% block h1_header %}
<h1>Listado de Juegos</h1>
{% endblock h1_header %}


{% block contenido %}
<p>
    <form action={% url 'app:consultar_juegos' %} class="text-center" enctype='multipart/form-data'>
        {{formulario}}
        
        <button>buscar
        </button>
        <button>
            <a class="navbar-brand" href={% url 'app:alta_juego' %}>Agregar</a>
        </button>
        
    </form>
</p>

{% if juegos %}


<!-- Tabla de resutados de busqueda-->
    <div> 
        <table class="table table-hover table-sm table-bordered table-striped">
            <thead>
                <tr>
                    <th class="text-center">Juegos</th>                       
                    <th class="text-center">Especificaciones</th>                 
                    <th class="text-center">Opciones</th>                 
                </tr>
            </thead>
            <tbody>
                {% for juego in juegos %}
                <tr>
                  <td class="text-center">
                    {% if juego.imagen.url and juego.imagen%}
                        <img src={{juego.imagen.url}} alt="" height="80px"> 
                    {% endif %}                             
                  </td>  
                  <td class="text-left">
                    <ul>
                        <li>Nombre: {{juego.nombre}}</li>
                        <li>Desarollo: {{juego.desarrollo}}</li>
                        <li>Dispositivo: {{juego.dispositivo}}</li>
                        <li>Genero: {{juego.genero}}</li>
                    </ul>
                  </td>
                  
                  <td class="text-center">
                    <button>
                        <a class="navbar-brand" href={% url 'app:mostrar_juego' juego.id %}>Mostrar</a>
                    </button>
                    <button>
                        <a class="navbar-brand" href={% url 'app:modificar_juego' juego.id %}>Modificar</a>
                    </button>
                    <button>
                        <a class="navbar-brand" href={% url "app:eliminar_juego" juego.id %}>Eliminar</a>
                    </button>
                  </td>
                </tr>
                {% endfor %}
            </tbody>


        </table>
    </div>

    <div class="paginador">
        <div class="row">

        </div>
    </div>
{% else %}
    <h2 class="text-center">No hay datos sobre juegos por el momento.</h2>
{% endif %}
{% endblock contenido %}
